.fundo{
    background-color: rgb(26, 26, 26);
}
header{
    background-color:rgb(17, 17, 17);
    color:rgb(150, 47, 47);
    height: 120px;
    font-size: 50px;
}
.titulo{
    margin-left: 30px;
}
.disco{
    width: 370px;
}
.logo{
    width: 150px;
}
.logo2{
    width: 300px;
}
h1{
    color:rgb(204, 67, 67);
}
h2{
    color:rgb(150, 47, 47);
}
p{
    color:rgb(214, 163, 163)
}
.sobre{
    margin-top: 60px;
}
.texto{
    justify-content: left;
}
